body {
    background-image: url('darkgradiant.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
}
h1 {
    font-family: 'Concert One', serif;
}
h2, h3 {
    font-family: 'Caveat', serif;
}
a {
    color: pink;
    font-family: 'Patrick Hand', serif;
}
img {
    width: 35%;
}