body {
    background-image: url('gradiantbackground.jpg');
}
li {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'Shadows Into Light', serif;
}
h1 {
    font-size: 40px;
    text-align: center;
    margin: 10px 0;
    font-family: 'Dancing Script', serif;
}
a {
    font-family: 'Cormorant Garamond', serif;
}
img {
    width: 60%;
}
.purple {
    color: purple
}